* {
    font-size: 16px;
    font-family: Inter, Arial;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 470px) {
    .extra-info-container {
        min-width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    * {
        font-size: 8px;
    }

    .main-container, .weather-container, .extra-info-container, 
    .main-weather-info, .temperature, .date, 
    .city, .weekly-forecast {
        align-self: center;
    }

    input {
        min-width: 80%;
    }

    .main-container {
        flex-direction: column;
        padding: 1rem;
    }

    .weather-container {
        min-width: 100%;
    }

    .extra-info-container {
        width: 60%
    }

    .info {
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}

@media only screen and (min-width: 1400px) {
    * {
        font-size: 30px;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 3rem;
    margin: 3rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for the card effect */    
}

.search {
    position: relative;
    display: inline-block; /* Ensure the input and button stay inline */
    width: 100%;
}

input {
    width: 50%;
}

input[type="text"] {
    padding-left: 3rem;
    font-size: 1rem;
}

input, button {
    padding: 0.7rem;
    border: 0.1rem solid #CACACA;
    border-radius: 0.8rem;
}

button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

button i {
    font-size: 1.3rem;
    color:#8d8d8d;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem 0rem;
}

.weather-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 60%;
    background-color: white;
}

.city {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.date {
    font-size: 1.7rem;
    color:#5c5c5c;
    margin-bottom: 0.6rem;
}

.main-weather-info {
    justify-content:flex-start;
    gap: 1rem;
}

img {
    width: 3.5rem;
}

.condition {
    font-size: 1.4rem;
}

.temperature {
    font-size: 4.5rem;
    font-weight: 700;
    padding: 0.6rem 0rem;
}

.weekly-forecast {
    overflow-x: scroll;
}

.extra-info-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    max-width: 40%;
    padding: 0rem 1rem;
    outline: 0.1rem solid #cacaca;
    border-radius: 0.3rem;
}

.info {
    gap: 1rem; 
}

.info p {
    flex: 1;
    min-width: 7.5rem; 
    font-weight: 500;
}

.info .value {
    flex: 1;
    max-width: 11rem;
    min-width: 4rem;
    color:#5c5c5c;
}

footer a {
    text-decoration: none;
}

footer p {
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
}

footer i {
    font-size: 1.2rem;
}

